.product_card{
    position: relative;
    overflow: hidden;
    display: inline-block;
    max-height: 600px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.image_wrapper.image_wrapper:hover .quick-view{
    transition: 300ms ease-in-out;
    top: 175px;
}

.product_info{
    display: inline-block;
    width: 75%;
    padding: 10px 12px;
}

/* .product__title{
    margin-bottom: 5px;
} */

.product__title a {
    color: darkgrey;
    text-decoration: none;
    font-size: 22px;
}

.product__price{
    color: #FF4E00;
    font-size: 18px;
    font-weight: bold;
}

.product__price del{
    font-size: 16px;
    margin-left: 8px;
    color: #888;
    font-weight: lighter;
}

.add_to_cart{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-top: 1.4rem;
}

.add_to_cart button {
    margin-left: 1rem;
    color: black;
    font-size: 1.4rem;
    transition: 250ms ease-in-out;
    border: none;
    outline: none;
    background-color: transparent;
}

.add_to_cart:hover button{
    color: #FF4E00;
    cursor: pointer;
}

.product_card .product_img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.product_rating_stars{
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.product_rating_stars li{
    display: inline-block;
}

.product_rating_stars .star{
    font-size: 13px;
    margin-right: 3px;
    color: grey;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}   

.product_rating_stars .star:hover {
    color: #FF4E00;
}


.quick-view{
    position: absolute;
    width: 100%;
    top: -80px;
    transition: 400ms ease-in-out;
    text-align: center;
}

.quick-view p{
    display: inline-block;
    padding: 20px;
}
.quick-view p a {
    padding: 15px;
    border: 1px solid black;
    background: black;
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
}

.quick-view:hover p a {
    background-color: #FF4E00;
}

.model {
    font-size: 17px;
    color: #888;
    margin-bottom: 8px;
    font-weight: 400;
}

.star:not(:last-child){
    margin-right: 8px;    
}

@media (max-width:500px){
    .product_info{
      display: block;
      margin: auto;
    }
  
    .add_to_cart{
      display: block;
      margin: 10px 0;
    }
    .add_to_cart button {
        margin-left: 2rem;
        font-size: 1rem;
    }

    .product__title button {
        font-size: 16px;
    }
    .model{
        font-size: 13px;
    }
  }