.ordersSection{
    width: 70%;
    margin: 0 auto;
    background-color: #E4F1F9;
    border-radius: 3px;
    padding: 18px 36px;
    box-shadow: 0px 0px 5px #ccc;
}

.ordersSection h3{
    font-size: 28px;
    margin-top: 0;
    font-weight: 500;
}

.ordersList{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top:12px;
}

@media (max-width:1250px) {
    .ordersSection{
        width: 85%;
    }   
}
@media (max-width:1000px){
    .ordersSection{
        width: 90%;
        padding: 8px 10px;
    }
    .ordersSection h3{
        font-size: 23px;
    }
}

@media (max-width:750px){
    .ordersSection{
        width: 100%;
    }
}
