
#root{
  max-width: 1920px;
  margin: 0 auto;
}

div.MuiBox-root{
  padding: 8px !important;
  max-width: 100% !important;
}

#priceSlider .MuiSlider-root {
    color: black;
    max-width: 100%;
    padding: 8px;
  }