body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, -wekit-body, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  padding: 0;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

div.MuiBox-root {
  padding: 8px !important;
  max-width: 100% !important;
}

#priceSlider .MuiSlider-root {
  color: black;
  max-width: 100%;
  padding: 8px;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* SKELETON PRODUCT CARD */
.product-card__skeleton{
  border: 1px solid #cecece;
  border-radius: 3px;
  padding: 12px;
}

/* MODAL CSS */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}
.modal > * {
  padding: 0 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header {
  border-bottom: 1px solid #dbdbdb;
}
.modal-header h2 {
  margin: 0;
  font-weight: 400;
}

.close-modal {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.modal-footer button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #0069d9;
}

@media (max-width: 800px) {
  .modal {
    max-width: unset;
    max-height: unset;
    width: 100%;
    height: 100%;
  }
}
